//basic typography style

//Font Variables
$text-font: "Roboto", Verdana, Helvetica, Arial, sans-serif;
//$title-font: 'Sniglet', cursive;
$subtitle-font: 'Open Sans', sans-serif;

@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap);


//Font sizes
$font-size-html: 100%;
$font-size-base-px: 16px;
$font-size-base: 1rem;

// Font weights
$weight-lighter: 100;
$weight-light: 200;
$weight-book: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
