.modal {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    &__backdrop {
      background-color: $shadow-color;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
    &__dialog {
      background-color: #ffffff;
      position: relative;
      width: 600px;
      margin: 3rem auto;
      display: flex;
      flex-direction: column;
      border-radius: 0.3rem;
      z-index: 2;
      @media screen and (max-width: 992px) {
        width: 90%;
      }
    }
    &__close {
      width: 2rem;
      height: 2rem;
    }
    &__header {
      padding: 1.25rem 1.25rem 0.6rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    &__body {
      padding: 0.6rem 1.25rem 0.6rem;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
    &__footer {
      padding: 0.6rem 1.25rem 1.25rem;
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.2s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }