.aside {
    display: flex;
    flex-direction: column;
    &-user {
      background-color: white;
      border-radius: $border-radius-m;
      margin-bottom: 1rem;
    }
    .aside-header {      
        background-image: linear-gradient(135deg,$secondary-color, $primary-color);
        color: white;
        display: block;
        padding: 0.5rem 0;
        margin-bottom: 0.5rem;
        width: 100%;
        text-align: center;
        border-top-left-radius: $border-radius-m;
        border-top-right-radius: $border-radius-m;
    }
    &-top, &-bottom {
      background-color: white;
      border-radius: $border-radius-m;
    }
    &-bottom {
      margin-top: 1.5rem;
      text-align: center;     
    }
    &-list{
      text-align: left;
      padding-left: 1.5rem;
      ul {
        list-style-type: none;
        display: flex;
        align-items: center;
      }
      li {        
        display: flex;
        align-items: center; 
        img {
          width: 50px;
        }
      }
    }
}


.post-rules {
    display: flex;
    background-color: white;
    border-radius: 5px;
    flex-direction: column;
    border-bottom-left-radius: $border-radius-m;
    border-bottom-right-radius: $border-radius-m;
    &-head {
      display: flex;
      align-items: center;
      padding: 1rem 1rem;
      span {
        font-weight: $weight-bold;
      }
    }
    .rules {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-top: 1px solid $line-color-top;
      span {
        line-height: 2.5rem;
        opacity: 0.8;
        padding-left: 0.5rem;
        border-bottom: 1px solid $line-color-bottom;
        border-width: 50%;
      }
    }
}

.userAside {
  .subtitle {
    text-align: center;
    font-weight: $weight-bold;
  }
  .buttons-full {
      color: white;
      margin: 0 auto;
      width: 80%;
      height: 70px;
      background-color: $secondary-color;
      border: 1px solid $secondary-color;
      a {
          color: white;
      }
  }
  .user-submenu {
      padding: 0.5rem;
      p {
          padding: 0.2rem 0.5rem;
          :focus {
              text-decoration: $link-decoration-hover;
          }
      }
  }
}